/Assets/~tk2d
/Assets/Resources/tk2d/*
/Builds/
/Temp/
/Library/
/Obj/
.vscode/
/Assets/ConsoleE/
/Assets/ConsoleE.meta
/Assets/Plugins/GitHub/
/Assets/Plugins/GitHub.meta

*.csproj
*.pidb
*.sln
*.suo
*.swp
*.unityproj
*.user
*.userprefs
*.DS_Store
/Assets/-tk2d.asset
/Assets/-tk2d.asset.meta
XCode
